SimpleAPICallExample.xcodeproj/xcuserdata/Mango.xcuserdatad/xcschemes
SimpleAPICallExample.xcodeproj/project.xcworkspace/xcuserdata
SimpleAPICallExample.xcodeproj/xcuserdata/Mango.xcuserdatad/xcdebugger
